<main>

    <h1>Add<br>new<br>song</h1>

    <div class="screen"></div>

    <a href="/">Return to Home Page</a>

    <div class="album-container-show">

        <form action="/" method="POST" class="createSong">
            <p class="input-field">New song name:
                <input type="text" name="songName" placeholder="Song name">
            </p>
            <p class="input-field">Song description:
                <input type="text" name="songDescription" placeholder="Song description">
            </p>
            <p class="input-field">Song Lyrics:
                <input type="text" name="songLyrics" placeholder="Song lyrics">
            </p>
            <p class="input-field">Link to hear song:
                <input type="text" name="songLink" placeholder="Song link">
            </p>
            <button type="submit">Create new song</button>
        </form>

    </div>
    </div>
</main>