<main>
    <div class="form">
    <h1 class="formTitle">Add<br>new<br>song</h1>
    <form action="/song/new" method="POST" class="createSong">
        <p class="input-field">New song name:</p>
            <input type="text" name="songName" placeholder="Song name">
        <p class="input-field">Song description:</p>
            <input type="text" name="songDescription" placeholder="Song description">
        <p class="input-field">Song Lyrics:</p>
            <input type="text" name="songLyrics" placeholder="Song lyrics">
        <p class="input-field">Link to hear song:</p>
            <input type="text" name="songLink" placeholder="Song link">
        <button type="submit" class="submitButton">Create new song</button>
    </form>
    <a href="/">Return to Home Page</a>
    </div>
</main>