<main>
    <div>
        <h1 class="siteTitle">Welcome to<br>Jukebox<br>Database</h1>
    </div>
    <div class="screen">
        {{#each artist}}
        <div>
            <a href="/artist/{{_id}}" class="artistDisplay">{{artistName}}</a>
            {{ content }}
        </div>
        {{/each}}
    </div>
    <div class="controls">
    <a href="artist/new"><button class="newButton">Add a new artist</button></a>
    <button onclick="instructions()" class="instructions">Instructions</button>
    <p class="p">Jukebox is a way to share your favorite songs and bands with your friends.</p>
  </div>
</main>