<main>
    <h1 class="siteTitle">Welcome to<br>Jukebox<br>Database</h1>
    {{#each artist}}
    <div class="artistNames">
        <a href="/artist/{{_id}}">{{artistName}}</a>
        {{ content }}
    </div>
    {{/each}}
</main>