<main>
    <h1 class="siteTitle">Welcome to<br>Jukebox<br>Database</h1>
    <div class="screen">
        {{#each artist}}
        <div>
            <a href="/artist/{{_id}}" class="duck">{{artistName}}</a>
            {{ content }}
        </div>
        {{/each}}
    </div>
</main>