<h1>Welcome to Jukebox Database</h1>
<main>
    {{#each artist}}
    <div class="artistNames">
        <a href="/artist/{{artist._id}}">{{artistName}}</a>
        {{ content }}
    </div>
    {{/each}}
</main>