<!DOCTYPE html>
<html>

<head>
  <title>Jukebox</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
  {{{body}}}
  <footer>
    <nav class="footerNav">
      <h5>Click a Genre button to see artists from that genre</h5>
      <ul>
        <li class="genres"><button>Oldies</button></li>
        <li class="genres"><button>Classic Rock</button></li>
        <li class="genres"><button>Modern Rock</button></li>
      </ul>
      <a href="artist/new"><button class="newButton">Add a new artist/song</button></a>
    </nav>
    <p>Jukebox is a way to share your favorite songs and bands with your friends.</p>
    <button onclick="instructions()" class="instructions">Instructions</button>
  </footer>
  <script>
    function instructions() {
      alert("Click on the artist name to view the artist description, albums they have, and a link to their web site. You can then click on an album to see the album description, the year of release, and songs that have been added. You can then click on the song to see the song description, and its lyrics, and a link to a website where you can listen to the song");
    }
  </script>
</body>

</html>