<!DOCTYPE html>
<html>

<head>
  <title>Jukebox</title>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <footer class"site-nav">
    <nav>
      <h4>Click a Genre button to see artists from that genre</h4>
      <ul class="genres">
        <li><button>Oldies</button></li>
        <li><button>Classic Rock</button></li>
        <li><button>Modern Rock</button></li>
      </ul>
      <p>Hello! Jukebox is a way to share your favorite songs and bands with your friends. Just click a genre button and band names will appear in the slots above. Then click on the artist's name to viewwhat albums have they have and click on the album to see the songs that have been added. You can click the add new artist/song button to enter your own song for the genre selected. When you go to the artist's page you will have the option to add new albums, edit an album or delete an album. On the songs page you may add, edit or delete songs.</p>
      <button href="/artist/addArtist" class="NewButton">Add a new artist/song</a>
    </nav>
  </footer>
</body>

</html>