body {
  padding: 10px;
  margin: 5px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(100,100,100,1);
  height: 100vh;
  width: 100vw;
  background-image: url("/images/juke.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 5.3fr 1fr;
  grid-template-areas:
  "main"
  "footer";
}

main {
  height: 82%;
  grid-area: main;
  text-align: center;
  color: white;
}

h1 {
  margin: -1px auto 0 auto;
  text-align: left;
}

.screen {
  font-family: 'Audiowide', cursive;
  font-size: 18px;
  margin: 7.5% auto 0 215px;
  grid-row: span 2;
  padding: 10px;
  width: 800px;
  height: 364px;
  border-top-left-radius: 364px;
  border-top-right-radius: 364px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.duck {
  text-decoration: none;
}

a {
  color: yellow;
}

/* control panet */
footer {
  grid-area: footer;
  grid-row: span 2;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 670px;
  height: 90px;
  margin: -1% auto 0 22%;
  color: white;
}

.p {
  margin: -8px 0 0 0;
  width: 30%;
  font-size: 14px;
}

.instructions {
  font-size: 24px;
  height: 40px;
  background-color: rgb(240,0,100);
  border-radius: 10px;
}

.newButton {
  font-size: 24px;
  height: 40px;
  background-color: rgb(50,100,200);
  border-radius: 10px;
}

/* SHOW */
h5 {
  margin: 0 auto -10px auto;
}

.name {
  color: rgba(255,0,240,1);
  margin: 0 auto 20px auto;
}

.description1 {
  margin: -20px auto 0 auto;
  width: 50%;
  font-size: 12px;
}

.h4 {
  margin: 10px auto 0 auto;
}

.description2 {
  margin: 0 auto 5px auto;
  width: 80%;
  font-size: 12px;
}

.link {
  display: block;
  margin: 5px auto 5px auto;
}

.delete {
  display: block;
  margin: 5px auto 5px auto;
}

/* FORMS */

.form {
  font-family: 'Patua One', cursive;
  margin: -15px auto 25px auto;
  background-color: rgba(0,0,0,.7);
  background-image: url('/images/record.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  margin: 30px auto 0 auto;
}

form {
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.submitButton {
  margin: 15px auto;
  position: relative;
  background-color: rgba(200,0,100,1);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: black;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.submitButton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.submitButton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.footerForm {
  background-color: rgba(0,0,0,.7);
  height: 20vh;
  width: 100vw;
}

@media only screen  and (max-width : 1224px) {
  body {
    padding: 7px;
    margin: 3px auto;
    background-size: 75%;
  }
  main {
    height: 61%;
  }
  h1 {
    margin: -1px auto 0 auto;
  }
  .screen {
    margin: 74px auto 0 161px;
    padding: 7px;
    width: 600px;
    height: 273px;
    border-top-left-radius: 273px;
    border-top-right-radius: 273px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  footer {
    width: 502px;
    height: 50px;
    margin: -29px auto 0 auto;
  }
  nav {
    margin: 11px auto;
  }
  h5 {
    margin: 0 auto -7px auto;
  }
  .genres {
    margin: -15px auto;
  }
  
  p {
    width: 22%;
    font-size: 8px;
  }
  .instructions {
    margin: 0 37px 0 auto;
  }
  
  .newButton {
    margin: 0 auto 0 60px;
  }
  }

@media only screen and (max-width : 768px) {
  body {
    padding: 5px;
    margin: 2px auto;
    background-size: 50%;
  }
  main {
    height: 41%;
  }
  h1 {
    margin: -1px auto 0 auto;
  }
  .screen {
    margin: 48px auto 0 107px;
    padding: 5px;
    width: 400px;
    height: 182px;
    border-top-left-radius: 182px;
    border-top-right-radius: 182px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /* control panet */
  footer {
    width: 385px;
    height: 45px;
    margin: -13px auto 0 auto;
  }
  nav {
    margin: 7px auto;
  }
  h5 {
    margin: 0 auto -5px auto;
  }
  .genres {
    margin: -10px auto;
  }
  p {
    width: 15%;
    font-size: 6px;
  }
  .instructions {
    margin: 0 25px 0 auto;
    float: right;
  }
  .newButton {
    margin: 0 auto 0 40px;
  }
  }

  @media only screen and (max-width : 321px) {
    body {
      padding: 2px;
      margin: 1px auto;
      background-size: 50%;
    }
    main {
      height: 20%;
    }
    h1 {
      margin: -1px auto 0 auto;
    }
    .screen {
      margin: 24px auto 0 107px;
      padding: 2px;
      width: 200px;
      height: 91px;
      border-top-left-radius: 91px;
      border-top-right-radius: 91px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    /* control panet */
    footer {
      width: 192px;
      height: 22px;
      margin: -6px auto 0 auto;
    }
    nav {
      margin: 3px auto;
    }
    h5 {
      margin: 0 auto -2px auto;
    }
    .genres {
      margin: -5px auto;
    }
    p {
      width: 7%;
      font-size: 3px;
    }
    .instructions {
      margin: 0 12px 0 auto;
      float: right;
    }
    .newButton {
      margin: 0 auto 0 20px;
    }
    }