body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(30,30,30,1); 
  background-image: url("/images/juke.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
main {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}
.siteTitle {
  font-size: 1.6em;
  text-align: left;
  margin: 1.5em 0 0 1.5em;
}
.screen {
  font-family: 'Audiowide', cursive;
  margin: 5.2em auto 3em auto;
  font-size: 1em;
  width: 50em;
  height: 25.2em;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.artistDisplay {
  text-decoration: none;
}
a {
  color: yellow;
}

/* control panel */
.controls {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 670px;
  height: 90px;
  margin: 0 auto;
  color: white;
}
.p {
  margin: -8px 0 0 0;
  width: 30%;
  font-size: 12px;
}
.instructions {
  font-size: 18px;
  height: 30px;
  background-color: rgb(240,0,100);
  border-radius: 10px;
}
.newButton {
  font-size: 18px;
  height: 30px;
  background-color: rgb(50,100,200);
  border-radius: 10px;
}

/* SHOW */
.show {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.show-screen {
  margin: 3.2em auto 3em auto;
  text-align: center;
  width: 50em;
  height: 25.2em;
}
.name {
  color: rgba(255,0,240,1);
  margin: 0 auto .2em auto;
}
.description1 {
  margin: .5em auto;
  width: 50%;
  font-size: 12px;
}
.h4 {
  margin: .2em auto;
}
.description2 {
  margin: 0 auto 5px auto;
  width: 80%;
  font-size: 12px;
}
.click {
  margin: .4em auto 1.2em auto;
}
.list-item {
  margin: 0 auto 1.2em auto;
}
.show-panel {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-buttons {
  display: flex;
}
.home-page-link {
  text-align: center;
}
a {
  margin: .4em;
}
.delete {
  margin: .2em;
}

/* FORMS */
.form {
  font-family: 'Patua One', cursive;
  margin: -.5em auto 0 auto;
  background-color: rgba(0,0,0,.7);
  background-image: url('/images/record.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formTitle {
  font-size: 3em;
  color: rgb(200,200,100);
  margin: .4em auto 0 auto;
}
form {
  font-size: 1.6em;
  color: rgb(200,200,100);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
p {
  margin: .2em;
}
input {
  font-size: .7em;
  padding: .1em;
}
.submitButton {
  margin: 1.2em auto .8em auto;
  position: relative;
  background-color: rgba(200,0,100,1);
  border: none;
  border-radius: 2em;
  font-size: .8em;
  color: black;
  padding: .3em;
  width: 10em;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.submitButton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.submitButton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.footerForm {
  background-color: rgba(0,0,0,.7);
  height: 20vh;
  width: 100vw;
}

/* @media only screen  and (max-width : 1224px) {
  body {
    padding: 7px;
    margin: 3px auto;
    background-size: 75%;
  }
  main {
    height: 61%;
  }
  h1 {
    margin: -1px auto 0 auto;
  }
  .screen {
    margin: 74px auto 0 161px;
    padding: 7px;
    width: 600px;
    height: 273px;
    border-top-left-radius: 273px;
    border-top-right-radius: 273px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  footer {
    width: 502px;
    height: 50px;
    margin: -29px auto 0 auto;
  }
  nav {
    margin: 11px auto;
  }
  h5 {
    margin: 0 auto -7px auto;
  }
  .genres {
    margin: -15px auto;
  }
  p {
    width: 22%;
    font-size: 8px;
  }
  .instructions {
    margin: 0 37px 0 auto;
  } 
  .newButton {
    margin: 0 auto 0 60px;
  }
  } */
