body {
  padding: 10px;
  margin: 5px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(100,100,100,1);
  height: 100vh;
  width: 100vw;
  background-image: url("/images/juke.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 5.3fr 1fr;
  grid-template-areas:
  "main"
  "footer";
}

main {
  height: 82%;
  grid-area: main;
  text-align: center;
  color: white;
}

h1 {
  margin: -1px 0 38px 2px;
  text-align: left;
}

.screen {
  margin: 90px auto -50px auto;
  grid-row: span 2;
  background-color: rgba(255,255,255,.2);
  padding: 10px;
  width: 58vw;
  height: 47vh;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

/* control panet */
footer {
  grid-area: footer;
  grid-row: span 2;
  width: 53%;
  height: 80%;
  margin: -10px auto 0 auto;
  color: white;
}

nav {
  grid-area: nav;
  margin: 15px auto;
  float: left;
}

h5 {
  margin: 0 auto -10px auto;
}

.genres {
  display: inline-block;
  margin: -20px auto;
}

p {
  grid-area: p;
  width: 30%;
  font-size: 12px;
  float: right;
}

.instructions {
  margin: 0 50px 0 auto;
  float: right;
}

.newButton {
  margin: 0 auto 0 80px;
}

a {
  color: yellow;
}
/* SHOW */
.name {
  color: rgba(255,0,240,1);
  margin: 0 auto 20px auto;
}
.description1 {
  margin: -20px auto 0 auto;
  width: 50%;
  font-size: 12px;
}
.h4 {
  margin: 10px auto 0 auto;
}
.description2 {
  margin: 0 auto 5px auto;
  width: 80%;
  font-size: 12px;
}
.link {
  display: block;
  margin: 5px auto 5px auto;
}
.delete {
  display: block;
  margin: 5px auto 5px auto;
}
/* EDIT */
form {
  display: inline-block;
  width: 50%;
}
.input-field {
  display: inline;
}

