<main>
    <div class="form">
        <h1 class="formTitle">Create new artist</h1>
        <form action="/artist/new" method="POST" class="createArtist">
            <p class="input-field">New artist name:</p>
            <input type="text" name="artistName" placeholder="Artist name">
            <p class="input-field">Artist description:</p>
            <input type="text" name="artistDescription" placeholder="Artist description">
            <p class="input-field">The genre:</p>
            <input type="text" name="artistGenre" placeholder="Artist Genre">
            <p class="input-field">Link to artist info. or website:</p>
            <input type="text" name="artistLink" placeholder="Link to website">
            <button type="submit" class="submitButton">Create new artist</button>
        </form>
        <a href="/">Return to Home Page</a>
    </div>
</main>