<!DOCTYPE html>
<html>
  <head>
    <title>Show Artist</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <section class="artist">
    <div class="justList">
        {{content}}
    </div>
    {{/each}}
</section>
  </body>
</html>