<main>

    <h1>Add<br>new<br>album</h1>

    <div class="screen">

        <div class="album-container-show">

            <form action="/album/new" method="POST" class="createAlbum">
                <p class="input-field">New album name:
                    <input type="text" name="albumName" placeholder="Album name">
                </p>
                <p class="input-field">New song name:
                    <input type="text" name="albumSong" placeholder="Song name">
                </p>
                <p class="input-field">Album description:
                    <input type="text" name="albumDescription" placeholder="Album description">
                </p>
                <p class="input-field">Album release Year:
                    <input type="number" name="albumYear" placeholder="Album Year">
                </p>
                <button type="submit">Create new album</button>
            </form>

            <a href="/">Return to Home Page</a>

        </div>
        
    </div>
</main>