<main>

    <div class="form">

        <h1>Add<br>new<br>album</h1>

        <div class="album-container-show">

            <form action="/album/new" method="POST" class="createAlbum">
                <p class="input-field">New album name:</p>
                    <input type="text" name="albumName" placeholder="Album name">
                <p class="input-field">Album description:</p>
                    <input type="text" name="albumDescription" placeholder="Album description">
                <p class="input-field">Album release Year:</p>
                    <input type="number" name="albumYear" placeholder="Album Year">
                <button type="submit" class="submitButton">Create new album</button>
            </form>

            <a href="/">Return to Home Page</a>

        </div>

    </div>
</main>
